@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Poppins', sans-serif;
}

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

body {
   background-color: #1f242d;
   position: relative;
   min-height: 100%;
   padding-bottom: 4rem;
   box-sizing: border-box;
}

body > section {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}

.container {
   width: 90%;
   max-width: 31.25em;
   background-color: #ffffff;
   padding: 4em 3em;
   border-radius: .5em;
   box-shadow: 0 2em 3.5em rgba(0, 9, 50, 0.3);
   position: absolute;
   transform: translate(-50%, -50%);
   left: 50%;
   top: 50%;
}

.app-title {
   color: #1f242d;
   font-size: 2.5rem;
   text-align: center;
}

.input-wrapper {
   display: grid;
   grid-template-columns: 9fr 3fr;
   gap: 1em;
   margin: 2em 0 1em 0;
}
input {
   border: none;
   border-bottom: 2px solid #e2e4ef;
   columns: #172039;
   padding: 1 em 0;
   font-weight: 400;
   font-size: 1.5rem;
}

input:focus {
   border-bottom: 2px solid #0077FF;
}

button {
   font-size: 1.1rem;
   padding: 1em 0.5em;
   background-color: #0077FF;
   border: none;
   color: #ffffff;
   border-radius: 0.5em;
   cursor: pointer;
}

p {
   text-align: center;
   color: #ffffff;
   font-size: 1.5rem;
   font-weight: 400;
   padding: 1em 0;
   border-radius: 0.75rem;
   transition: 0.5s;
}

p span {
   font-weight: 500;
   font-style: italic;
}

.success {
   background-color: #4d993c;
   animation: pop 0.4s;
}

.error {
   background-color: #ad1313;
   animation: pop 0.4s;
}

/* footer design */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: .5rem 5%;
   background: #172039;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.footer-text p {
   font-size: .90rem;
   color: #ffffff;
}

.footer-music {
   position: relative;
}

#playButton {
   width: 34px;
   height: 30px;
   background-color: #0077FF;
   background-image: url('assets/img/play-regular-24.png');
   align-items: center;
   background-repeat: no-repeat;
   background-size: cover;
   cursor: pointer;
}

#playButton.play {
   background-image: url('assets/img/pause-regular-24.png');
   align-items: center;
};

@keyframes pop {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}